[submodule "mypackages/neotree"]
	path = mypackages/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "mypackages/ido-grid-mode"]
	path = mypackages/ido-grid-mode
	url = https://github.com/larkery/ido-grid-mode.el.git
[submodule "mypackages/disaster"]
	path = mypackages/disaster
	url = https://github.com/jart/disaster
[submodule "mypackages/all-the-icons"]
	path = mypackages/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "mypackages/memoize"]
	path = mypackages/memoize
	url = https://github.com/skeeto/emacs-memoize.git
