[submodule "mypackages/neotree"]
	path = mypackages/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "mypackages/ido-grid-mode"]
	path = mypackages/ido-grid-mode
	url = https://github.com/larkery/ido-grid-mode.el.git
[submodule "mypackages/disaster"]
	path = mypackages/disaster
	url = https://github.com/jart/disaster
[submodule "mypackages/all-the-icons"]
	path = mypackages/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "mypackages/yasnippet-go"]
	path = mypackages/yasnippet-go
	url = https://github.com/dominikh/yasnippet-go.git
[submodule "mypackages/evil"]
	path = mypackages/evil
	url = https://github.com/emacs-evil/evil
[submodule "mypackages/airline-themes"]
	path = mypackages/airline-themes
	url = https://github.com/AnthonyDiGirolamo/airline-themes.git
[submodule "mypackages/powerline"]
	path = mypackages/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "mypackages/highlight-thing"]
	path = mypackages/highlight-thing
	url = https://github.com/fgeller/highlight-thing.el.git
