*.DS_Store
*~
.last-package-update-day
.mc-lists.el
.python-environments
.tern-port
.tern-project
ac-comphist.dat
auto-save-list
elpa
eshell
history
history.el
ido.last
irony/bin
meghanada
projectile-bookmarks.eld
recentf
semanticdb
tramp
url/cache